
:root{
  --primary-color: #ece7e2;
  --secondary-color: #90f135;
  --tertiary-color: #4a7766;
}
.content{
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;

}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgb(0, 0, 0,0.1);

}
.blog-preview h3{

  color: var(--secondary-color);
  margin-bottom: 8px;
}

.create form{
  max-width: 400px;
  display: grid;
}
.create label{
    text-align: left;
    margin: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.create input, .create textarea, .create select{
  height: 30px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.create textarea{
  height: 5rem;
}
.create button{
  width:25%;
  height: 5vh;
  margin: 10px auto;
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  color: var(--primary-color);
}

.blog-details button,.edit  button{
  width:7rem;
  height: 5vh;
  margin-left: 2rem;
  background-color: #f13535;
  border: 0;
  cursor:pointer;
  margin: 30px auto;
  border-radius: 10px;
  color: var(--primary-color);
}
.blog-details button:first-of-type{
  margin-right: 2rem;
  background-color: var(--secondary-color);
}

.blog-details a{
  text-decoration: none;
  background-color: transparent;
  color: var(--primary-color);
}



.edit textarea{
  width: 80%;
  height: 10rem;
}

.edit button{
  background-color: var(--secondary-color)
}


.login, .signup{
  /* border: 2px solid red; */
  height: 80vh;
  align-items: center;
  align-content: center;
  
}
.login form, .signup form{
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  text-align: center;
  margin: auto;
  gap: 1rem;
  width: 20rem;
}
.login form label{
  text-align: left;
}
.login h1{
  font-size: 2rem;
}
.login p{
  font-size: 0.8rem;
}
.login form input{
  height: 2.5rem;
  width: 16rem;
  font-size: 1rem;
  /* font-weight: 50; */
  color: black;
  padding-left: 1rem;
  background-color: white;
  justify-self: center;
}
.login button{
  justify-self: center;
  height: 2.5rem;
  width: 10rem;
  background-color: white;
  cursor: pointer;
}
.login form a{
  text-decoration: none;
  color: var(--secondary-color);
}

